extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")

block dataContent
    //- Table content part
    table.data_table            
        tr
            th Continent
            th Number Of Countries 
            th Total Population 
    
        each continent in continents
            tr
                td 
                    a(href=`/continents/${continent.Continent}`) #{continent.Continent}
                td #{continent.countries}
                td #{continent.Population}