extends layout.pug

//- Extra css
block head
        link(rel="stylesheet", href="/FAQ.css")

//- Section replaced for FAQ content instead of tables in different views
block section2
            header
              h1.data_title Frequently Asked Questions
            
            each questionId in ['question1', 'question2', 'question3', 'question4']
                .accordion-item(id=questionId)
                  a.accordion-link(href=`#${questionId}`)
                    p
                      if questionId === 'question1'
                        | How do I sign up?
                      else if questionId === 'question2'
                        | Can I have a list of cities?
                      else if questionId === 'question3'
                        | Can I have access to database?
                      else if questionId === 'question4'
                        | Can I see all the continents?
                    ion-icon(name='add-outline')
                    ion-icon(name='remove-outline', class='hide')
                  .answer
                    p
                      if questionId === 'question1'
                        | Simply click on the user icon on the top right corner of the page
                      else if questionId === 'question2'
                        | Yes you can have it on data page
                      else if questionId === 'question3'
                        | Only Admins can have access to database
                      else if questionId === 'question4'
                        | Yes You can see them on Data page

//- Extra scripts required for smooth movements and icons
block extraScripts
  <script src="https://kit.fontawesome.com/4622d99ad4.js" crossorigin="anonymous">
  </script>
  //- Ionicons Script
  script(type='module', src='https://unpkg.com/ionicons@7.1.0/dist/ ionicons/ionicons.esm.js')
  script(nomodule, src='https://unpkg.com/ionicons@7.1.0/dist/  ionicons/ionicons.js')
          // JavaScript to toggle icon visibility
  script.
    const accordionLinks = document.querySelectorAll(". accordion-link");
    accordionLinks.forEach((link) => {
            link.addEventListener("click", () => {
              link.querySelector(".ion-add-outline").classList.toggle("hide");
              link.querySelector(".ion-remove-outline").classList.toggle("hide");
              link.nextElementSibling.classList.toggle("show");
            });
          });
