extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")
    style.
        .data_table tr td:last-child, .data_table tr th:last-child {
            text-align: center;
            }
block dataContent
    //- Table content part
    table.data_table
        tr
            th Language
            th Total Population 
            th World % 

        - var validCountries = ['Chinese','English','Hindi','Spanish','Arabic']

        each lang in langs.sort((l1,l2)=>l2.population-l1.population)
            -var pop = parseFloat(lang.population).toFixed()
            -var per = parseFloat(lang.percentage).toFixed(2)

            if (validCountries.indexOf(lang.name) > -1)
                tr
                    td #{lang.name}
                    td #{pop}
                    td #{per}