extends layout.pug

//- Extra css
block head 
    link(rel="stylesheet", href="/data_content_table.css")
    style.
        .data_table tr td:last-child, .data_table tr th:last-child {
            text-align: center;
            }
block dataContent
    //- Table content part
    table.data_table
        tr
            th Region
            th Total Population 
    
        each region in regions
            tr
                td 
                    a(href=`/regions/${region.name}`) #{region.name}
                td #{region.population}


    
  
    