/* Layout switch */
.wrapper {
	grid-template-areas:
		'logo . nav nav'
		'data data data data'
		'visual visual visual visual'
		'footer footer footer footer';
}
.graph {
	background-color: var(--second-color);
}
.data {
	background-color: var(--first-color);
}

.data_content {
	grid-area: table;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0.5em;
	padding: 0 10px;
	overflow-y: auto;
}
.red {
	color: red;
}

h2 {
	font-weight: 600;
	margin-bottom: 20px;
}

.cityDesc {
	width: 50%;
	text-align: right;
}

.cityDesc * {
	line-height: 2.5rem;
	padding: 0 10px;
}

.cityDesc p {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 10px 0;
}

.cityDesc p span {
	margin-right: auto;
	font-weight: 500;
	white-space: nowrap;
}